<html>
    <head>
        <script src="js/popup.js"> </script>
    </head>
  <body>
    <h1>Dictionary Extension</h1><br>

    <div>
      <label for='dark_mode'> Dark Mode</label>
      <input id='dark_mode' type="checkbox" checked><br>

      <label for='blur'> Disappear on click</label>
      <input id='blur' type='checkbox'><br>

      <label for='max_meanings'>Maximum meanings</label>
      <input id='max_meanings' type="number"><br>

      <input id='submit' type="submit" value="Submit Changes">
    </div>

    
  </body>
</html>
